

@mixin slider-arrow{
    color: black;
    width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 55%;
    border-radius: 50%;
    box-shadow: 0 0 10px 0.1rem rgb(200, 200, 200);
    &:hover{
        background: rgb(200, 200, 200);
        color: white;
        cursor: pointer;
    }
}

@mixin slider-card($top,$left) {
    width: 30%;
    height: 90%;
    position: absolute;
    top: $top;
    left: $left;
    border-radius: 3px;
}