$color-brand:#594AA9;
$color-black: #000000;
$color-grey-dark:#3F4560;
$color-white: #ffffff;
$color-white-dark: darken($color-white, 10%);

$color-freelance: #b1d9d8;
$color-freelance-two: #dbeedb;
$color-freelance-three: #6ACAD4;

$color-ux: #DAAE87; 
$color-ux-two: #DCA689; 
$color-ux-three:#80401A;

$color-onlineWork-one: #80D6D7;
$color-onlineWork-two: #2FACAA;
$color-onlineWork-three: #0097A7;

$color-shopping-cart: #774BFD;
$color-shopping-cart-two: #20356C;
$color-shopping-cart-three:#19E4AD;
$color-shopping-cart-four:#3A34F0;