@import './style.css';
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Amiri:700|Aref+Ruqaa|Reem+Kufi|Tajawal');
@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');


body{
    padding: 0;
    margin: 0;
    font-family: 'Droid Arabic Kufi', sans-serif;
    overflow-x: hidden;
}
// شريط scroll down
::-webkit-scrollbar{
    width: 9px;
    background-color: $color-black;
}
::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: $color-white;
}
// popper.js
.tooltip-inner {
    background-color: transparent;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px $color-black;
}

// HEADER
header{
    background: linear-gradient(45deg, #FE7F77, #FFAA79);
    height: 860px;
    //navar
    nav{
        padding: 0px 0px !important;
        .custom-collapse{
            .nav-cart{
                color: $color-white;
                font-size: 30px;
                position: relative;
                top: 4px;
            }
            .nav-bar{ //navbarIcon
                color: $color-white;
                font-size: 30px;
                margin-top: 20px;
            }
        }
        ul {
            position: relative;
            right: 50%;
            margin-top: 20px;
            li{
                margin-left: 30px;
                &:last-of-type{
                    margin: 8px 0px 0 20px;
                }
                a{
                    color: $color-white-dark;
                    font-size: 20px;
                    font-weight: lighter;
                    padding: 0px 5px;
                    transition: all 0.3s ease;
                    &:hover,
                    &.active{
                        color: $color-white;
                        text-shadow: 0 0 40px $color-white;
                    }
                }
            }
        }
        //الشعار
        #brand{
            img {
                height: 125px;
                width: 125px;
                transition: all 0.5s ease;
            }
            a:hover{
                color: transparent;
            }
            h5{
                color: $color-white;
                font-family: 'Reem Kufi', cursive;
                display: inline-block;
                margin: 0px;
                position: relative;
                top: 15px;
                right: -9px;
                transition: all 0.5s ease;
            }
        }
    }
    //التعريف
    .about{
        padding: 140px 53px 0px;
        h1{
            font-size: 70px;
            font-weight: bold;
            color: $color-shopping-cart;
            span{
                font-size: 45px;
                font-weight: 400;
                display: block;
                color: $color-white;
                word-spacing: -5px;
            }
        }
        p{
            font-size: 18px;
            color: $color-white-dark;
            margin-top: 20px;
        }
        .form-group{ //SEARCH FORM
            margin-top: 65px;
            ::-webkit-input-placeholder{
                color: $color-black;
            }
            input[type=search]{
                color: $color-black;
                width: 50%;
                display: inline;
                position: relative;
                right: 0;
                background-color: transparent;
                background-image: url('../img/search.svg');
                background-position: 99%; 
                background-repeat: no-repeat;
                padding: 20px 45px;
                border-color: transparent;
                border-radius: 25px;
                box-shadow: 0 0 35px -11px $color-black;
                
            }
            a{//زر السفلي
                color: $color-white-dark;
                border-radius: 50%;               
                box-shadow: 0 0 35px -11px $color-black;
                display: block;
                height: 70px;
                width: 70px;
                position: relative;
                top: 75px;
                right: 45%;
                &:hover{
                    color: $color-shopping-cart-four;
                }
                i{
                    font-size: 45px;
                    height: 100%;
                    width: 100%;
                    padding: 13px;
                    border-radius: 50%;
                    transition: all 0.5s ease;
                    &:hover{
                        transform: translateY(15px);
                    }
                }
            }           
        }
    }
}
//المعرض
#gallery{
    background: linear-gradient(90deg, $color-shopping-cart,$color-shopping-cart-four);
    padding: 70px 0px 120px;
    h1{
        color: $color-white;
        font-weight: bold;
        font-size: 55px;
        margin-bottom: 70px;
    }
    .item{
        height: 430px;
        padding: 0 100px;
        img{
            height: 100%;
            width: 100%;
            border-radius: 2%;
            box-shadow: 0 0 35px -11px $color-black;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 0 45px -11px $color-black;
            }
        }
    }
}
//تواصل معنا
#contact{
    background-color: $color-grey-dark;
    ul{
        margin: 10px;
        li{
            color: $color-white;
            font-size: 16px;
            display: inline;
            &:not(:last-child){
                margin-left: 14%;
            }
            a{
                color: $color-white;
                &:hover{
                    text-decoration: none;
                }
            }
            i{
                color: $color-white;
                font-size: 25px;
                margin-right: 5px;
            }
        }
    }
}
//خريطة
.map-box{
    margin: 0;
    padding: 0;
    #map{
        padding: 0;
        height: 500px;
        iframe{
            height: 100%;
            width: 100%;
            border: 0;
        }
    }
}
// footer
footer{
    color: white;
    background-color: $color-grey-dark;
    padding: 2px;
    .icon-top{
        display: inline-block;
        position: relative;
        top: 5px;
        right: -27%;
        a{
            display: inline-block;
            transform: rotate(85deg);
            i{
                color: black;
                background-color: aliceblue;
                border-radius: 50%;
                padding: 5px;
            }
        }
    }
    p{
        padding: 10px;
        display: inline-block;
        margin: -6px 0 0px;
        position: relative;
        top: 1px;
    }
}

//*************************************** FREELANCE PAGE 
//*************************************** FREELANCE PAGE 
//*************************************** FREELANCE PAGE 
//*************************************** FREELANCE PAGE 
#header2{
    @include header(linear-gradient(90deg, $color-freelance-two,$color-freelance ));
}
// قسم تفاصيل الكتاب
#detail{
    .about-book{
        //صورة الكتاب
        @include about-book($color-freelance-three);
        // تفاصيل الكتاب
        .book-details{
            @include book-details(darken($color-freelance,20%));
        }
        //زر الطلب
        .box{
            @include box();
        }
        // زر المفضلة
        .box2{
            @include box2();
        }
    }
}
//قسم عرض الكتاب
#view-book{
    @include view-book(
    linear-gradient(90deg, $color-freelance-two,$color-freelance),
    $color-freelance-three,
    darken($color-freelance-three, 10%)
    ); 
}
// flipppages
#flippage{
    @include flippage(linear-gradient(90deg, $color-freelance-two,$color-freelance));
}
//*************************************** UX page . 
//*************************************** UX page .  
//*************************************** UX page .  
//*************************************** UX page . 
#header3{
    @include header(linear-gradient(90deg, $color-ux-two,$color-ux ));
}
// قسم تفاصيل الكتاب
#detail2{
    .about-book{
        //صورة الكتاب
        @include about-book($color-ux-three);
        // تفاصيل الكتاب
        .book-details{
            @include book-details(darken($color-ux,20%));
        }
        //زر الطلب
        .box{
            @include box();
        }
        // زر المفضلة
        .box2{
            @include box2();
        }
    }
}
//قسم عرض الكتاب
#view-book2{
    @include view-book(
    linear-gradient(90deg, $color-ux-two,$color-ux,$color-ux),
    $color-ux-three,
    darken($color-ux-three, 10%)
    ); 
}
// flipppages
#flippage2{
    @include flippage(linear-gradient(90deg, $color-ux-two,$color-ux,$color-ux));
}
//*************************************** payment page . 
//*************************************** payment page .  
//*************************************** payment page .  
//*************************************** payment page . 
header#payment{
    background: linear-gradient(90deg, $color-shopping-cart,$color-shopping-cart-four);
    height: 100%;
    width: 100%;
    ul{
        a:hover{
            text-decoration: none;
            text-shadow: none;
        }
        i{
            font-size: 40px;
        }
    }
    // قسم طلبك
    .request-col{
        right: 35%;
        padding: 0px 90px 0px 0px;
        // عنوان قسم طلبك
        .table-title{
            color: #FFF;
            font-weight: bold;
            margin-bottom: 40px;
        }
        form{
            table{
                width: 100%;
                tbody{
                    tr{ // سطر طلبك
                        border-bottom: 1px solid darken($color-white, 50%);
                        display: inline-block;
                        margin-bottom: 30px;
                        td{
                            display: inline-block;
                            padding: 20px 0px;
                            &:first-child{
                                width: 250px;
                                text-align: center;
                            }
                            &:not(:first-child){
                                
                                margin: 0px 30px;
                            }
                            .media{ 
                                .custom-img{ // الصورة 
                                    height: 80px;
                                    width: 70px;
                                    img{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .media-body{ // الإسم
                                    color: $color-white;
                                    position: relative;
                                    top: 25px;
                                }
                            }
                            .box{ // مربع العدد
                                direction: ltr;
                                margin: 0px 20px;
                                select{
                                    color: $color-white;
                                    background: transparent;
                                    border: 1px solid darken($color-white, 50%);
                                    &:focus{box-shadow: none;}
                                    option{
                                        color: $color-white;
                                        background: $color-shopping-cart;
                                    }
                                }
                                
                                input{
                                    color: darken($color-white, 25%);
                                    text-align: center;
                                    background: transparent;
                                    border: 1px solid lighten($color-shopping-cart, 8%);
                                    border-radius: 6px;
                                    font-size: 16px;
                                    padding: 13px 10;
                                    margin: 0 5px;
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                
                            }
                        }
                        .total-price-for-book{
                            color: $color-white;
                        }
                        .remove-btn{
                            color: darken($color-white,30%);
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
                tfoot{
                    transition: all 0.5s ease;
                    .text-price{
                        color: $color-white;
                        .custom-text-price{
                            font-size: 13px;
                            color: darken($color-white,30%);
                        }
                    }
                    .continue-shopping{
                        float: left;
                        margin-left: 20px;
                        a{
                            color: $color-shopping-cart-three;
                            transition: all 0.3s ease;
                            &:hover{
                                color: transparent;
                                text-shadow: 0 0 1px black;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    // قائمة الجانبية
    .data-col{
        left: 66%;
        aside{ // قسم الجانبي
            width: 400px;
            background: linear-gradient(60deg, $color-shopping-cart,$color-shopping-cart-four);
            box-shadow: 0 0 45px -17px $color-black;
            border-radius: 30px;
            padding: 30px;
            #personal-data{ // بيانات الشخصية
                h2{
                    color: $color-white;
                    font-size: 20px;
                    font-weight: bold;
                }
                .form-group{
                    margin-bottom: 10px;
                    input{
                        color: $color-white;
                        background: transparent;
                        padding-right: 0;
                        border: none;
                        border-bottom: 1px solid darken($color-white, 60%);
                        border-radius: 0;
                        &::placeholder{
                            color: darken($color-white, 30%);
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
            #payment-data{ // بيانات الدفع
                h2{
                    color: $color-white;
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 20px;
                }
                .form-group{ 
                    margin-bottom: 10px;
                    input{
                        color: darken($color-white, 20%);
                        background: transparent;
                        padding-right: 0;
                        border: none;
                        border-bottom: 1px solid darken($color-white, 60%);
                        border-radius: 0;
                        &::placeholder{
                            color: darken($color-white, 30%);
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                    label{ // الائتمانية && عندالاستلام
                        input{
                            display: none;
                            &::placeholder{
                                color: darken($color-white, 30%);
                            }
                            &:checked ~ span{
                                color: $color-shopping-cart-three;
                            }
                        }
                        span{ // بطاقة أم عند الاستلام
                            color: darken($color-white, 30%);
                            margin-left: 20px;
                            cursor: pointer;
                            transition: all 0.5s ease;
                        }
                    }
                    
                    h6{ // صلاحية البطاقة && CVV
                        color: $color-white;
                        margin-bottom: 0;
                    }
                    select{ // قسم صلاحية البطاقة
                        color: darken($color-white, 30%);
                        background: transparent;
                        width: 85px;
                        border: none;
                        border-bottom: 1px solid darken($color-white, 60%);
                        margin-left: 20px;
                    }
                    .CVV{ // div CVV
                        display: inline-block;
                        width: 85px;
                        position: relative;
                        top: -18px;
                        h6{
                            margin: 0px;
                        }
                        input{
                            position: relative;
                            top: 16px;
                        }
                    }
                }
            }
            button{ // زر اكمال الشراء
                color: #fff;
                box-shadow: 0 0 50px -17px $color-black;
                border-radius: 30px;
                padding: 15px 125px;
                position: relative;
                top: 18px;
                &:focus,&:hover{
                    background-color: $color-shopping-cart-three;
                    box-shadow: 0 0 50px -17px $color-black;
                }
            }
        }
    }
}

@media (max-width: 1199px){
    header{
        nav{
            ul{
                position: relative;
                right: 40%;    
            }
        }
        .about{padding: 140px 53px 0px;}
    }
    #gallery .item {
        padding: 0 60px;
    }
    /////////////////////////////freelance&&ux
    #detail,#detail2{
        .about-book{
            .book-details{
                p{
                    padding-left: 0px;
                }
            }
            .work-book {
                margin-right: 10%;
            }
        }
    }
    ////////////////////////////shopping cart
    header#payment{
        height: 100%;
        nav ul{
            right: 51%;
        }
        .request-col{
            padding: 0px 100px 0px 0px;
            right: 35%;
            table{
                tbody{
                    td{
                        &:not(:first-child){
                            
                            margin: 0px 10px !important;
                        }
                    }
                }
            }
        }
        .data-col{
            left: 68%;
            aside{
                padding: 25px;
            }
        }
    }    
}
@media (max-width: 991px){
    header {
        height: 720px;
        nav {
            padding: 0px 0px !important;
            #brand{
                position: relative;
                right: -4%;
            }
            ul{
                position: relative;
                right: 24%;
                margin: 25px 0px 0 -75px;
                padding: 0;
            }
        }
        .about{
            padding: 100px 0px 0px;
            h1{
                font-size: 60px;
                span{
                    font-size: 37px;
                }
            }
            p{
                font-size: 16px;
            }
            .form-group input[type=search]{
                background-position: 98%;
                background-size: 35px;
            }
        } 
    }
    #gallery .item {
        height: 395px;
        padding: 0px 20px;
    }
    #contact ul {
        margin: 10px 0;
    }
    .map-box #map {
        height: 400px;
    }
    /////////////////////////////freelance&&ux
    #detail,#detail2{
        .about-book{
            padding: 50px 15px 0px;
            .work-book{
                height: 400px;
                width: 300px;
                margin-right: -4%;
            }
            .book-details {
                p{
                    margin-bottom: 25px;
                }
                h1{
                    font-size: 35px;
                    margin-bottom: 20px;
                }
            }
            .box{
                width: 335px;
                margin-bottom: 15px;
                a{
                    right: -30px;
                }
                .nice-number{
                    width: 110px;
                    margin-left: -65px;
                    input{
                        width: 30px;
                    }
                }
            }
            .box2{
                width: 335px;
            }
        }
    }
    // FlipBook
    #flippage,#flippage2{
        overflow: hidden;
    }
    ////////////////////////////shopping cart
    header#payment{
        height: 1050px;
        nav ul{
            right: 49%;
        }
        .request-col{
            padding: 0px;
            right: 0%;
            .table-title{
                margin-bottom: 5px;
                font-size: 20px;
            }
            table{
                tbody{
                    tr{
                        margin-bottom: 22px !important;
                        td{
                            &:first-child{width: 235px !important;}
                            .media{
                                .media-body{
                                    padding: 0px 15px;
                                    display: inline-flex;
                                    h5{font-size: 16px;}
                                }
                            }
                            &:not(:first-child){
                                
                                margin: 0px 40px !important;
                            }
                        }
                    }
                }
            }
        }
        .data-col{
            left: 0%;
            aside{
                width: 50%;
                padding: 20px;
                position: relative;
                right: 25%;
                form{
                    #personal-data{
                        h2{font-size: 16px;}
                        input{font-size: 14px;}
                    }
                    #payment-data{
                        h2{font-size: 16px;}
                        label{font-size: 13px;}
                        #credit-card-section{
                            input , h6{font-size: 14px;}
                            .CVV{width: 60px;}
                        }
                    }
                    button{
                        padding: 10px 100px;
                        right: 10px;
                    }
                }
            }
        }
    }  
}
@media (max-width: 767px){
    header{
        height: 685px;
        nav {
            #dropdown-collapse{
                background: linear-gradient(135deg, #FE7F77, #FFAA79);
                position: absolute;
                top: 90px;
                width: 100%;
                z-index: 1;
            }
            #brand {
                img {
                    height: 100px;
                    width: 100px;
                }
                h5{
                    top: 12px;
                    font-size: 16px;
                }
            }
            ul{
                position: relative;
                right: -5%;
                li {
                    margin-left: 0px;
                    margin-bottom: 12px;
                    a{
                        font-size: 28px;
                    }
                }
            }
        }
        .about {
            padding: 100px 0px 0px;
            p {
                font-size: 13px;
            }
            h1 {
                font-size: 55px;
                span {
                    font-size: 32px;
                }
            }
            .form-group{
                margin-top: 55px;
                input[type=search] {
                    font-size: 12px;
                    width: 55%;
                    background-size: 30px;
                    padding: 20px 35px;
                }
                a{
                    height: 65px;
                    width: 65px;
                    top: 70px;
                }
            }
        }
    }
    #gallery{
        padding: 45px 0px 120px;
        h1{
            font-size: 45px;
        }
        .item{
            height: 315px;
            padding: 0px 10px;
        }
    }
    #contact ul {
        li
        {
            &:not(:last-child) {
                margin-left: 10%;
            }
            font-size: 12px;
        }
        i{
            font-size: 20px !important;
        }
    }
    .map-box #map {
        height: 280px;
    }
    footer .icon-top{right: -20%;}
    /////////////////////////////freelance&&ux
    #header2,#header3{
        nav{
            #dropdown-collapse{
                background: #fff;
                a{color: darken($color-white,60%);}
            }
        }
    }
    #detail,#detail2{
        height: 65rem;
        .about-book{
            .buttons{
                display: inline-block;
            }
            .work-book{
                margin: 0px auto 100px;
            }
            .for-md{
                text-align: center;
            }
            .book-details{
                text-align: center !important;
                h1{
                    margin-bottom: 30px
                }
                p{
                    margin-bottom: 30px
                }
            }
        }
    }
    #flippage,#flippage2{
        top: 1087px;
    }
    ////////////////////////////shopping cart
    header#payment{
        nav ul{
            right: -9%;
            margin: 5px 0px 0 -75px;
            li{
                a{
                    font-size: 20px;
                    i{font-size: 30px;}
                }
                
            }
        }
        .request-col{
            padding: 0px;
            right: 0%;
            .table-title{
                margin-bottom: 5px;
                font-size: 20px;
            }
            table{
                tbody{
                    tr{
                        
                        td{
                            
                            &:not(:first-child){
                                
                                margin: 0px 11px !important;
                            }
                        }
                    }
                }
            }
        }
        .data-col{
            aside{
                width: 70%;
                right: 15%;
            }
        }
    }  
}
@media (max-width: 575px){
    header{
        height: 685px;
        nav{
            #brand{
                position: relative;
                right: 0%;
            }
            ul{
                margin: 0;
                width: 65%;
                position: relative;
                right: 15%;
                li{
                    a{
                        display: inline;
                    }
                }
            }
        }
        .about{
            h1{
                font-size: 45px;
                span{
                    font-size: 28px;
                }
            }
            p{
                font-size: 12px;
            }
            .form-group {
                input[type=search] {
                    font-size: 11px;
                    width: 55%;
                    background-size: 25px;
                    padding: 20px 30px;
                }
                a{
                    height: 60px;
                    width: 60px;
                    right: 165px;
                }
            }
        }
    }
    #gallery{
        padding: 20px 0px 0px;
        h1{margin-bottom: 50px;}
        .item{
            height: 350px;
            padding: 0px 0px;
            margin-bottom: 30px;
            img{width: 280px;}
        }
    } 
    #contact ul {
        padding: 0;
        margin: 5px 0;
        li{
            &:not(:last-child) {
                margin-left: 3%;
            }
            font-size: 10px;
        }
        i{
            font-size: 15px !important;
        }
    }
    footer .icon-top{right: -10%;}
    /////////////////////////////freelance&&ux
    #detail,#detail2{
        .about-book{
            .book-details{
                h1{
                    font-size: 26px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
    #view-book,#view-book2{
        img {
            height: 190px;
            width: 190px;
            top: -35px;
        }
        button{
            top: 85px;
        }
    }
    // FlipBook
    #flippage,#flippage2{
        top: 1095px;
        height: 372px;
        overflow-x: hidden;
        #flipbook{
            width:300px !important;
            height:250px !important;
            margin: 65px auto;
            .page{
                width:150px !important;
                height:250px !important;
            }
        }
    }
    ////////////////////////////shopping cart
    header#payment{
        height: 950px;
        nav ul{
            right: -18%;
            margin: 5px 0px 0 -75px;
            li{
                a{
                    font-size: 16px;
                    i{font-size: 25px;}
                }
                
            }
        }
        .request-col{
            padding: 0px 15px;
            right: 0%;
            .table-title{
                margin-bottom: 5px;
                font-size: 20px;
            }
            table{
                tbody{
                    tr{
                        td{
                            padding: 15px 0px !important;
                            &:first-child{
                                width: 175px !important;
                            }
                            .media{
                                .custom-img{
                                    height: 60px !important;
                                    width: 50px !important;
                                }
                                .media-body{
                                    top: 35px;
                                    h5{font-size: 11px;}
                                }
                            }
                            
                            &:not(:first-child){
                                
                                margin: 0px 0px !important;
                            }
                            .box{margin: 0px 0px 0px 10px  !important;}
                        }
                        .total-price-for-book{font-size: 12px !important;}
                    }
                }
            }
        }
        .data-col{
            aside{
                width: 301px;
                padding: 10px;
                right: 6%;
                form{
                    margin-bottom: 0px;
                    button{
                        padding: 10px 70px !important;
                        right: 30px;
                        top: 0px;
                    }
                    #payment-data{
                        #credit-card-section .CVV{
                            width: 50px;
                        }
                        .form-group select{
                            margin-left: 5px;
                            width: 70px;
                        }
                    }
                }
                
            }
        }
    } 
}
@media (max-width: 375px){
    header{
        height: 665px;
        nav #brand{
            img{
                height: 75px;
                width: 78px;
            }
            h5{
                top: 6px;
                font-size: 11px;
            }
        } 
        .about .form-group {
            a {
                height: 60px;
                width: 60px;
                right: 135px;
                i{
                    font-size: 40px;
                }
            }
            input[type=search] {
                font-size: 10px;
            }
        }
    }
    /////////////////////////////freelance&&ux
    #detail,#detail2{
        .about-book{
            .box,.box2{width: 300px;}
            .book-details{
                h1{
                    font-size: 26px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
    ////////////////////////////shopping cart
    header#payment{
        height: 900px;
        nav{
            #brand{
                h5{
                    top: 10px;
                    font-size: 14px;
                }
                img {
                    height: 90px;
                    width: 90px;
                }
            } 
            ul{
                top: 12px;
                right: -30%;
                width: 100px;
                li{
                    a{
                        font-size: 10px;
                        i{font-size: 25px;}
                    }
                    
                }
            }
        } 
        .request-col{
            padding: 0px 15px;
            right: 0%;
            .table-title{
                margin-bottom: 5px;
                font-size: 20px;
            }
            table{
                tbody{
                    tr{
                        margin-bottom: 10px !important;
                        td{
                            padding: 15px 0px !important;
                            &:first-child{
                                width: 150px !important;
                            }
                            .media{
                                .custom-img{
                                    height: 60px !important;
                                    width: 50px !important;
                                }
                                .media-body{
                                    top: 35px;
                                    padding: 0px 6px;
                                    h5{font-size: 11px;}
                                }
                            }
                            
                            &:not(:first-child){
                                
                                margin: 0px 0px !important;
                            }
                            .box{
                                margin: 0px 0px 0px 0px  !important;
                                select{padding: 0px;}
                            }
                        }
                        .total-price-for-book{font-size: 12px !important;}
                    }
                }
                tfoot{
                    .continue-shopping a {
                        font-size: 14px;
                    }
                    .text-price{font-size: 13px;}
                }
            }
        }
        .data-col{
            aside{
                width: 280px;
                padding: 10px;
                right: 2%;
                form{
                    margin-bottom: 0px;
                    button{
                        padding: 10px 75px !important;
                        right: 11px;
                        top: 0px;
                    }
                    #payment-data{
                        #credit-card-section .CVV{
                            width: 50px;
                        }
                        .form-group select{
                            margin-left: 5px;
                            width: 70px;
                        }
                    }
                }
                
            }
        }
    } 
}















