@import './style.css';
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Amiri:700|Aref+Ruqaa|Reem+Kufi|Tajawal');
@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');


body{
    padding: 0;
    margin: 0;
    font-family: 'Droid Arabic Kufi', sans-serif;
}
::-webkit-scrollbar{
    width: 9px;
    background-color: $color-white-dark;
}
::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: darken($color-brand, 15%);
}

//noTransparrent
nav.navbar.noTransparrent {
    transition: all 0.5s ease;
    #brand{
        img{
            height: 70px;
            width: 70px;
        }
        h5{
            font-size: 15px;
            top: 9px;
        }
    }
}

// HEADER
header{
    background: linear-gradient(45deg, #FE7F77, #FFAA79);
    min-height: 100%;
    //navar
    nav{
        padding: 0px 10px !important;
        ul li{
            margin-left: 30px;
            &:last-of-type{
                margin: 8px 0px 0 20px;
            }
            a{
                color: $color-white-dark;
                font-size: 20px;
                font-weight: lighter;
                padding: 0px 5px;
                transition: all 0.3s ease;
                &:hover,
                &.active{
                    color: $color-white;
                    text-shadow: 0 0 40px $color-white;
                }
            }
        }
        //الشعار
        #brand{
            img {
                height: 125px;
                width: 125px;
                transition: all 0.5s ease;
            }
            a:hover{
                color: transparent;
            }
            h5{
                color: $color-white;
                font-family: 'Reem Kufi', cursive;
                display: inline-block;
                margin: 0px;
                position: relative;
                top: 15px;
                right: -9px;
                transition: all 0.5s ease;
            }
        }
    }
    //التعريف
    .about{
        padding: 140px 53px 125px;
        h1{
            font-size: 70px;
            font-weight: bold;
            color: $color-brand;
            span{
                font-size: 45px;
                font-weight: 400;
                display: block;
                color: $color-white;
                word-spacing: -5px;
            }
        }
        p{
            font-size: 18px;
            color: $color-white-dark;
            margin-top: 20px;
        }
        .form-group{ //SEARCH FORM
            margin-top: 65px;
            ::-webkit-input-placeholder{
                color: $color-black;
            }
            input[type=search]{
                color: $color-black;
                width: 100%;
                position: relative;
                right: 0;
                background-color: transparent;
                background-image: url('../img/search.svg');
                background-position: 99%; 
                background-repeat: no-repeat;
                padding: 20px 45px;
                border-color: transparent;
                border-radius: 25px;
                box-shadow: 0 0 35px -11px $color-black;
                
            }
            a{//زر السفلي
                color: $color-white-dark;
                border-radius: 50%;               
                box-shadow: 0 0 35px -11px $color-black;
                display: block;
                height: 70px;
                width: 70px;
                position: relative;
                top: 75px;
                right: 45%;
                &:hover{
                    color: $color-brand;
                }
                i{
                    font-size: 45px;
                    height: 100%;
                    width: 100%;
                    padding: 13px;
                    border-radius: 50%;
                    transition: all 0.5s ease;
                    &:hover{
                        transform: translateY(15px);
                    }
                }
            }           
        }
    }
}
//المعرض
#gallery{
    background-color: $color-brand;
    padding: 70px 0px 120px;
    h1{
        color: $color-white;
        font-weight: bold;
        font-size: 55px;
        margin-bottom: 70px;
    }
    .item{
        height: 380px;
        padding: 0 100px;
        img{
            height: 100%;
            width: 100%;
            border-radius: 2%;
            box-shadow: 0 0 35px -11px $color-black;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 0 45px -11px $color-black;
            }
        }
    }
}
//تواصل معنا
#contact{
    background-color: $color-grey-dark;
    ul{
        margin: 10px;
        li{
            color: $color-white;
            font-size: 16px;
            display: inline;
            &:not(:last-child){
                margin-left: 14%;
            }
            a{
                color: $color-white;
                &:hover{
                    text-decoration: none;
                }
            }
            i{
                color: $color-white;
                font-size: 25px;
                margin-right: 5px;
            }
        }
    }
}
//خريطة
.map-box{
    margin: 0;
    padding: 0;
    #map{
        padding: 0;
        height: 500px;
        iframe{
            height: 100%;
            width: 100%;
            border: 0;
        }
    }
}

footer{
    color: white;
    background-color: $color-grey-dark;
    height: 100%;
    padding: 0px;
    .icon-top{
        display: inline-block;
        position: relative;
        top: 10px;
        right: -30%;
        a{
            display: inline-block;
            transform: rotate(85deg);
            i{
                color: black;
                background-color: aliceblue;
                border-radius: 50%;
                padding: 5px;
            }
        }
    }
    p{
        margin: -15px 0 8px;
    }
}




















